@media (max-width: 1460px) {
  .car {
    width: 370px;
    bottom: -80px;
    right: -50px;
  }

  .slider {
    height: 646px;
    width: 1100px;
  }

  .slide {
    width: 1000px;
    height: 620px;
    margin-left: -500px;
  }

  .card {
    width: 450px;
    height: 540px;
    margin: 40px 40px 0 40px;
  }

.card_img {
    width: 300px !important;
    height: auto !important;;
    margin: 100px auto 50px !important;;
}

  .price p {
    font-size: 35px;
  }

  .price a {
    font-size: 10px;
  }

  .slide_text {
    width: 400px !important;
    margin-top: 50px !important;
  }

  .slide_text p {
    width: 400px;
    font-size: 11px;
  }

  .slide_text h3 {
    font-size: 35px;
  }

  .slide_icons {
    width: auto !important;
    justify-content: flex-start;
  }

  .slide_icons img {
    margin-right: 30px;
    width: 30px;
    height: auto;
  }

  .ins_block1 {
    width: 1050px;
    height: 520px;
    margin: -260px 0 0 -525px;
  }

  .ins_block2 {
    width: 1100px;
    height: 420px;
    margin-top: -210px;
  }

  .next, .prew {
    width: 60px;
    height: 60px;
    margin-top: -30px;
  }

  .prew {
    left: 60px;
  }

  .next {
    right: 20px;
  }


  .slide_line {
    margin: 20px 0 20px;
  }

  .section2 {
    height: 1200px;
  }

  .section3 {
    height: 1250px;
  }

  .section4 {
    height: 1220px;
  }
}






@media (max-width: 1200px) {

  .logos {
    padding: 16px 40px 38px;
  }

  .gadgets {
    width: 850px;
  }

  .gadget {
    width: 250px;
  }

  .gadget_block {
    width: 250px;
    height: 250px;
  }

  .section1_block {
    width: 850px;
    padding: 88px 0 100px;
  }

  .section1_left {
    width: 400px;
  }

  .section1_right {
    width: 400px;
  }

  .section1_left p, .section1_right p {
    font-size: 13px;
  }

  .car {
    width: 270px;
    bottom: -50px;
    right: -20px;
  }

  .section_text {
    width: 800px;
  }

  .slider {
    height: 460px;
    width: 850px;
  }

  .slide {
    width: 750px;
    height: 460px;
    margin-left: -375px;
  }

  .card {
    width: 300px;
    height: 380px;
    margin: 40px 40px 0;
  }

  .card_img {
    width: 200px !important;
    height: auto !important;
    margin: 50px auto 50px !important;
  }

  .rating {
    width: 130px;
    height: 21px;
    padding-left: 20px;
  }

  .order {
    padding: 16px 20px 0;
  }

  .price {
    width: 150px;
  }

  .price span {
    font-size: 17px;
  }

  .price p {
    font-size: 20px;
    line-height: 40px;
    width: 150px;
  }

  .price a {
    font-size: 8px;
  }

  .buy {
    width: 100px;
    height: 25px;
  }

  .buy a {
    font-size: 10px;
    line-height: 25px;
  }

  .slide_text h3 {
    font-size: 20px;
  }

  .slide_text {
    width: 350px !important;
    margin-top: 20px !important;
  }

  .slide_text p {
    width: 350px;
    font-size: 10px;
  }

  .card .top3 {
    top: 20px;
    left: -10px;
    width: 60px;
    height: auto;
  }

  .slide_num {
    width: 35px;
    height: auto;
    top: 20px;
    right: 27px;
  }

  .slide_line {
    width: 350px;
  }

  .ins_block1 {
    width: 800px;
    height: 400px;
    margin: -200px 0 0 -400px;
  }

  .ins_block2 {
    width: 850px;
    height: 340px;
    margin-top: -170px;
  }

  .next, .prew {
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }

  .prew {
    left: 65px;
  }

  .next {
    right: 25px;
  }

  .section2_tit {
    padding-top: 80px;
  }

  .section3_tit {
    padding-top: 80px;
  }

  .section4_tit {
    padding-top: 80px;
  }

  .section2 {
    height: 1050px;
  }

  .section3 {
    height: 1100px;
  }

  .section4 {
    height: 1060px;
  }
}




@media (max-width: 900px) {

  header {
    background-image: none;
  }

  .logos {
    flex-direction: column;
    width: 100%;
    padding: 22px 0 40px;
  }

  .logos_left {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  .logo3 {
    margin: 16px auto 0;
  }

  h1 {
    width: 90%;
    font-size: 28px;
    margin: 16px auto 64px;
  }

  .gadgets {
    width: 90%;
    flex-direction: column;
  }

  .gadget {
    margin: 0 auto 48px;
  }

  .header_icon {
    padding: 0 0 48px;
  }

  .section1_block {
    width: 100%;
    padding: 48px 0 112px;
    flex-direction: column;
  }

  .section1_left, .section1_right {
    width: 90%;
    margin: 0 auto;
  }

  .section1_left {
    margin-bottom: 56px;
  }

  .section1_left p, .section1_right p {
    font-size: 16px;
    padding: 0;
  }

  .section1_right {
    width: 90%;
    margin: 0 auto;
  }

  .section1_right p {
    width: 90%;
    margin: 0 auto;
    padding: 32px 0;
  }

  .section1_logo {
    padding: 0 0 40px 20px;
  }

  .car {
    width: 244px;
    right: -18px;
  }

  .section2, .section3, .section4 {
    background-image: none;
    height: auto;
  }

  .section2_tit h2, .section3_tit h2, .section4_tit h2 {
    font-size: 24px;
  }

  .section2_tit {
    padding-top: 72px;
    height: 28px;
    width: 335px;
    margin: 0 auto 40px;
  }

  .section2_tit_color {
    height: 15px;
    width: 260px;
    bottom: 0;
    left: 37px;
  }

  .section_text {
    width: 90%;
    font-size: 16px;
    text-align: left;
  }

  .slider {
    height: auto;
    width: 375px;
    margin: 70px auto 0;
    padding-bottom: 50px;
  }

  .ins_block1, .ins_block2 {
    display: none;
  }

  .slide {
    width: 100%;
    margin: 0;
    flex-direction: column;
    position: static;
    height: auto;
    margin-bottom: 50px;
  }

  .slide_num {
    display: none;
  }

  .card .top3 {
    width: 102px;
    height: 40px;
    top: 32px;
    left: -20px;
  }

  .card {
    width: 335px;
    height: 530px;
    margin: 32px auto 39px;
  }

  .card_img {
    width: 200px !important;
    height: auto !important;
    margin: 100px auto 50px !important;
  }

  .order {
    flex-direction: column;
    padding: 10px 20px 0;
  }

  .price {
    margin-right: auto;
  }

  .price span {
    font-size: 18px;
  }

  .price p {
    font-size: 36px;
    line-height: 50px;
  }

  .price a {
    font-size: 12px;
    margin-top: 8px;
  }

  .price, .price p {
    width: 250px;
  }

  .buy {
    width: 295px;
    height: 56px;
    margin: 32px auto;
  }

  .buy a {
    width: 295px;
    height: 56px;
    font-size: 16px;
    line-height: 53px;
  }

  .next, .prew {
    display: none;
  }

  .slide_text {
    width: 90% !important;
    margin: 0 auto !important;
    padding: 0;
  }

  .slide_text h3 {
    font-size: 28px;
  }

  .slide_text p {
    width: 100%;
    font-size: 15px;
  }

  .slide_line {
    width: 100%;
    margin: 48px auto;
  }

  .slide_icons img {
    width: 69px;
    height: auto;
    margin-right: 20px;
  }

  .slide_icons {
    padding-bottom: 50px;
    width: 100% !important;
    margin: 0 auto;
  }

  .section3_tit {
    padding-top: 72px;
    height: 28px;
    width: 335px;
    margin: 0 auto 40px;
  }

  .section3_tit_color {
    height: 15px;
    width: 228px;
    bottom: 0;
    left: 54px;
  }


  .section4_tit {
    padding-top: 72px;
    height: 28px;
    width: 335px;
    margin: 0 auto 40px;
  }

  .section4_tit_color {
    height: 15px;
    width: 240px;
    bottom: 0;
    left: 47px;
  }

  footer p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    width: 90%;
    margin: 120px auto 70px;
  }
}






  @media (max-width: 374px) {
    .slider {
      width: 100%;
    }
  }






@media (max-width: 359px) {

.logo1 {
  width: 100px;
  height: auto;
}

  .logo2 {
    width: 100px;
    height: auto;
  }

  header h2 {
    font-size: 15px;
  }

  .car {
    width: 230px;
    right: -15px;
  }

  .card {
    width: 90%;
  }

  .buy, .buy a {
    width: 90%;
  }

  .slide_text p {
    width: 100%;
  }


  .slide_icons img {
    width: 60px;
  }


  .section2_tit, .section3_tit, .section4_tit {
    width: 100%;
  }

  .section2_tit_color {
    left: 30px;
  }

  .section3_tit_color {
    left: 47px;
  }

  .section4_tit_color {
    left: 40px;
  }
}





